@import "../../../foundation/";

.hero.slant-down {
  position: absolute;
  left: -10000vw;
  top: -10000vh;
  display: none;
  overflow: hidden;
  height: 0;
  width: 0;
}

.mtd-page {
  section {
    padding: em(60) 0;
  }

  .dates,
  .pro-offer {
    padding: em(10) em(26);
    background: #ffc20f;
    text-align: center;
    display: inline-flex;
    justify-content: center;
    text-transform: uppercase;
    //font-weight: 700;
  }

  .buttons {
    margin: em(20) auto em(20) auto;
    max-width: em(700);

    button {
      width: 100%;
      padding: em(10) em(26);
    }
  }

  .output {
    .image {
      position: relative;
      min-height: em(272);
      max-height: em(272);

      .dates {
        position: absolute;
        right: em(16);
        bottom: em(30);
        z-index: 11;
      }

      .pro-offer {
        position: absolute;
        top: em(20);
        left: em(18);
        z-index: 12;
      }

      img {
        //position: relative;
        z-index: 0;
      }
    }

    button {
      background: #ffc20f;
      border-color: #ffc20f;
      margin-top: auto;

      &:hover {
        color: #000;
        border-color: #000;
      }
    }

    .content {
      padding: em(20);
      background-color: #efefef;
    }

    .pro {
      button {
        color: #ffc20f;
        background: #000;
        border-color: #000;

        &:hover {
          color: #ffc20f;
          border-color: #ffc20f;
        }
      }
    }

    h2 {
      font-size: rem(28);
      margin-bottom: em(6);
      font-weight: 700;
      text-transform: uppercase;
    }

    h3 {
      margin-top: em(10);
      font-size: rem(20);
      text-transform: uppercase;
    }

    ul.details {
      margin-bottom: em(30);

      li {
        margin-bottom: em(6);
        list-style-type: disc;

        &:last-child {
          margin-bottom: 0;
        }
      }
    }

    .pro-offer {
      background: #000;
      color: #fff;
    }
  }

  .filtered {
    .filtered-title {
      text-transform: uppercase;
      text-align: center;
      padding-bottom: em(10);
      margin-bottom: em(10);
      border-bottom: 1px solid #c9c9c9;
    }

    .offer {
      display: none;
      flex: 0 1 33%;
      margin-bottom: em(20);
    }

    .filter-pro {
      li.offer.pro {
        display: block;
      }
    }

    .filter-rebate {
      li.offer.rebate {
        display: block;
      }
    }
  }

  .single {
    .offers {
      margin-bottom: em(10);
    }

    p {
      padding-top: em(14);
      margin-top: em(10);
      border-top: 1px solid #c9c9c9;
    }
  }

  .bg-grey {
    .content {
      background-color: #fff;
    }
  }

  a {
    text-decoration: none;
    cursor: pointer;

    &:hover {
      color: #000;

      button {
        color: #000;
        border-color: #000;
      }
    }
  }

  .section-1 {
    h1 {
      font-size: rem(38);
      border-bottom: 1px solid #c9c9c9;
      padding: 0 em(20) em(10) em(20);
      margin: 0;
    }

    p {
      margin: em(30) auto 0 auto;
      max-width: em(1000);
    }
  }
}

.wrapper {
  position: relative;
  z-index: 1;
  max-width: em(1290px);
  margin: auto;
}

.bg-black {
  background-color: #000;
  color: #fff;
}

.bg-white {
  background-color: #fff;
  color: #000;
}

.bg-grey {
  background-color: #efefef;
  color: #000;
}

footer {
  margin-top: 0;
  padding-bottom: em(100);
}

@media (max-width: em(1057px)) {
  .mtd-page {
  }
}

@media (max-width: em(1024px)) {
  .mtd-page {
    section {
      padding: 0;
    }

    .col {
      padding: 0;
    }

    .row {
      flex-direction: column;
      width: 100%;
      padding: 0;
      margin: 0 0 em(20) 0;
    }

    .img-wrapper {
      min-height: em(320);
    }

    .bg-grey {
      background: #fff;

      .content {
        background: #efefef;
      }
    }

    .h-100 {
      height: auto !important;
    }

    .buttons {
      max-width: 100%;
      margin-top: em(20);

      .col {
        margin-bottom: em(10);
      }
    }

    .output button {
      width: 100%;
    }
  }
}

@media (max-width: em(768px)) {
  .mtd-page {
  }
}
